<header class="header-section header-1">
    <div class="container">
        <div class="header-bottom d-flex flex-wrap justify-content-between align-items-center">
            <div class="brand-logo d-none d-lg-inline-block">
                <div class="logo">
                    <a href="/Default/Index/">
                        <img src="~/tavern-hotel/logo/logo.png" alt="logo">
                    </a>
                </div>
            </div>
            <div class="header-wrapper justify-content-lg-end">
                <div class="mobile-logo d-lg-none">
                    <a href="/Default/Index/"><img src="~/tavern-hotel/logo/logo.png" alt="logo"></a>
                </div>
                <div class="menu-area">
                    <ul class="menu">
                        <li>
                            <a href="/Default/Index/">Anasayfa</a>

                        </li>
                        <li><a href="/About/Index">Hakkımızda</a></li>
                        <li>
                            <a href="/Rooms/Index/">Odalarımız</a>

                        </li>
                        <li>
                            <a href="javascript:void(0);">Diğerleri</a>
                            <ul class="submenu">

                                <li>
                                    <a href="/Service/Index">Hizmetlerimiz</a>

                                </li>
                                <li>
                                    <a href="/Staff/Index/">Çalışanlarımız</a>
                                </li>
                                <li><a href="/Login/Index/">Admin Paneli</a></li>
                                <li><a href="404.html">404</a></li>
                            </ul>
                        </li>
                        <li><a href="/Contact/Index">İletişim</a></li>
                    </ul>
                    <div class="search-container">
                        <a href="#" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></a>

                        <div class="search-bar">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Here" aria-label="Search Input"
                                       aria-describedby="basic-addon2">
                                <button class="input-group-text" id="basic-addon2">Search</button>
                            </div>

                        </div>
                    </div>


                    <a href="/Book/Index/" class="booking-btn"><span>Rezervasyon Yap</span></a>

                    <!-- toggle icons -->
                    <div class="header-bar d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="ellepsis-bar d-lg-none">
                        <i class="fa-solid fa-circle-info"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</header>