@model HotelProject.Entitylayer.Concrete.BookRoom
@{
    ViewData["Title"] = "UpdateBookRoom";
    Layout = "~/Views/Shared/_Admin1Layout.cshtml";
}

<form method="post">

    <input type="hidden" asp-for="Id" />
    <label>Check-in</label>
    <input type="date" asp-for="CheckIn" class="form-control" />
    <br />
    <label>Check-Out</label>
    <input type="date" asp-for="CheckOut" class="form-control" />
    <br />
    <button class="btn btn-success"> Rezervasyon Güncelle </button>

</form>