@model HotelProject.Entitylayer.Concrete.BookRoom

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tavern- Resort and Hotel Booking HTMl Template</title>

    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/aos.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/all.min.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/lightcase.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/flatpickr.min.css">

    <!-- main css for template -->
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/style.css">
</head>

<body>

    <!-- ===============>> Preloader start here <<================= -->
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <!-- ===============>> Preloader end here <<================= -->
    <!-- ========== Header Section Starts Here========== -->
    @await Component.InvokeAsync("_NavbarPartial")
    <!-- ========== Header Section Ends Here========== -->
    <!-- ================> Page header start here <================== -->
    <section class="page-header bg--cover" style="background-image: url(https://sobekstonehouse.com/images/resim/8240-SOBEK-SEC%C4%B0LM%C4%B0S26.jpg);">
        <div class="container">
            <div class="page-header__content text-center">
                <h2>Booking Form</h2>
                <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="index.html">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Booking Form</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <!-- ================> Page header end here <================== -->
    <!-- ========== booking Section start Here========== -->
@*    @await Html.PartialAsync("/Views/Book/AddBooking.cshtml")*@

    <section class="booking padding-top padding-bottom">
        <div class="container">
            <div class="section-header">
                <div class="section-header__content">
                    <p class="subtitle">Stay With Us</p>
                    <h2>Booking Form</h2>
                </div>
            </div>
            <div class="booking__wrapper p-0">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <form method="post" asp-action="AddBooking" asp-controller="Book" class="booking__form">
                            <div class="row justify-content-center g-4">
                                <div class="col-md-6">
                                    <div class="booking__form-inputgroup">
                                        <!-- <label for="input1" class="form-label">First Name</label> -->
                                        <div class="booking__form-input">
                                            <input type="text" class="form-control" placeholder="Adınız" asp-for="Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="booking__form-inputgroup">
                                        <!-- <label for="input2" class="form-label">Laset Name</label> -->
                                        <div class="booking__form-input">
                                            <input type="text" class="form-control" placeholder="Soyadınız" asp-for="Surname">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="booking__form-inputgroup">
                                        <!-- <label for="input3" class="form-label">Email Address</label> -->
                                        <div class="booking__form-input">
                                            <input type="email" class="form-control" placeholder="Email" asp-for="Mail">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="booking__form-inputgroup">
                                        <!-- <label for="input4" class="form-label">Mobile Number</label> -->
                                        <div class="booking__form-input">
                                            <input type="text" class="form-control" placeholder="Phone Number" asp-for="PhoneNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="booking__form-inputgroup">
                                        <!-- <label for="input5" class="form-label">Adult</label> -->
                                        <select class="nice-selct wide form-select" aria-label="Default select example" asp-for="AdultCount">
                                            <option selected>Adult</option>
                                            <option value="10">01</option>
                                            <option value="1">02</option>
                                            <option value="2">03</option>
                                            <option value="3">04</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="booking__form-inputgroup">
                                        <!-- <label for="input6" class="form-label">Children</label> -->
                                        <select class="nice-selct wide form-select" aria-label="Default select example" asp-for="ChildCount">
                                            <option selected>Children</option>
                                            <option value="0">01</option>
                                            <option value="1">02</option>
                                            <option value="2">03</option>
                                            <option value="3">04</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="booking__form-inputgroup">
                                        <!-- <label for="input7" class="form-label">Room</label> -->
                                        <select class="nice-selct wide form-select" aria-label="Default select example" asp-for="RoomCount">
                                            <option selected>Room</option>
                                            <option value="0">01</option>
                                            <option value="1">02</option>
                                            <option value="2">03</option>
                                            <option value="3">04</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="booking__form-inputgroup">
                                        <!-- <label for="input8" class="form-label">Children</label> -->
                                        <select class="nice-selct wide form-select" aria-label="Default select example" asp-for="RoomType">
                                            <option selected>Room Type</option>
                                            <option value="1">Delux</option>
                                            <option value="2">Family</option>
                                            <option value="3">Couple</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="booking__form-inputgroup">
                                        <!-- <label for="input9" class="form-label">Check In</label> -->
                                        <div class="booking__form-date">
                                            <input type="datetime" class="date-input form-control" placeholder="Check In" asp-for="CheckIn">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="booking__form-inputgroup">
                                        <!-- <label for="input10" class="form-label">Check Out</label> -->
                                        <div class="booking__form-date">
                                            <input type="date" class="date-input form-control" placeholder="Check Out" asp-for="CheckOut">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="booking__form-inputgroup">
                                        <!-- <label for="input11" class="form-label">Special Note</label> -->
                                        <div class="booking__form-input">
                                            <textarea class="form-control textarea" placeholder="Special Notes..." asp-for="SpecialNote"> </textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="booking__form-btn mt-2">
                                        <button class="custom-btn custom-btn--fluid"><span>Book Now</span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- ========== booking Section Ends Here========== -->
    <!-- ========== Footer Section start Here========== -->
    @await Component.InvokeAsync("_FooterSection");
    <!-- ========== Footer Section ends Here========== -->
    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="fa-solid fa-arrow-up"></i></a>
    <!-- scrollToTop ending here -->
    <!-- vendor plugins -->
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/flatpickr.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/all.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/swiper-bundle.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/aos.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/countdown.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/lightcase.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/purecounter_vanilla.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/kursor.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/progressbar.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/custom.js"></script>
</body>

</html>