
@{
    Layout = null;
}

<section class="testimonial testimonial--shape bg--section-color">
    <div class="container-fluid px-0">
        <div class="testimonial__wrapper">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="testimonial__image" data-aos="fade-right" data-aos-duration="1000">
                        <img src="assets/images/testimonial/1.png" alt="Testimonial Image">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial__content" data-aos="fade-left" data-aos-duration="1000">
                        <div class="common-header">
                            <p class="subtitle">Our Testimonial</p>
                            <h2>
                                What Our Customer say About Hotel Tavern
                            </h2>
                        </div>
                        <p>
                            We are proud to offer top range of comprehensive employment services such payroll and benefits
                            administration management
                            assistance with global ranch business range global business range employment
                        </p>
                        <div class="testimonial__author">
                            <div class="testimonial__author-inner">
                                <div class="testimonial__author-thumb">
                                    <img src="assets/images/testimonial/author/1.png" alt="author image">
                                </div>
                                <div class="testimonial__author-content">
                                    <h5>Alexander Joe</h5>
                                    <p>Senior Marketer</p>
                                    <ul class="rating">
                                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
