@model HotelProject.Entitylayer.Concrete.Staff
@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/Shared/_Admin1Layout.cshtml";
}

<form method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="StaffId" />
    <label>Personel Adı</label>
    <input type="text" asp-for="StaffName" class="form-control" />
    <br />
    <label>Personel Soyadı</label>
    <input type="text" asp-for="StaffSurname" class="form-control" />
    <br />
    <label>Email Adres</label>
    <input type="email" asp-for="StaffEmail" class="form-control" />
    <br>
    <label>Telefon Mumarası</label>
    <input type="text" asp-for="StaffNubmer" class="form-control" />
    <br />
    <label>Ünvan</label>
    <input type="text" asp-for="StaffTitle " class="form-control" />
    <br />
    <label>Resim</label>
    <input type="file" name="file" asp-for="ImageUrl" class="form-control" /><!-- Dosya yükleme alanı -->
    <br />

    <button class="btn btn-success"> Personeli Güncelle </button>

</form>