<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Özüm hotel</title>
	<!--<meta name="description" content="Philbert is a Dashboard & Admin Site Responsive Template by hencework." />
	<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Philbert Admin, Philbertadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />-->
	<meta name="author" content="hencework" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

	<!-- Morris Charts CSS -->
	<link href="~/fixed-width-light/vendors/bower_components/morris.js/morris.css" rel="stylesheet" type="text/css" />

	<!-- Data table CSS -->
	<link href="~/fixed-width-light/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

	<link href="~/fixed-width-light/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="~/fixed-width-light/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- Preloader -->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!-- /Preloader -->
	<div class="wrapper theme-1-active pimary-color-green">
		<!-- Top Menu Items -->
		<nav class="navbar navbar-inverse navbar-fixed-top">

		</nav>
		<!-- /Top Menu Items -->
		<!-- Left Sidebar Menu -->
		<div class="fixed-sidebar-left">
			<ul class="nav navbar-nav side-nav nicescroll-bar">
				<li class="navigation-header">
					<span>Main</span>
					<i class="zmdi zmdi-more"></i>
				</li>
				<li>
					<a class="active" href="/Default/Index/" data-toggle="collapse" data-target="#dashboard_dr"><div class="pull-left"><i class="zmdi zmdi-landscape mr-20"></i><span class="right-nav-text">Ana Sayfa</span></div><div class="pull-right"><i class="label label-success"></i></div><div class="clearfix"></div></a>
					<br />
				</li>

				<li>
					<a href="/StaffAdmin/Index/" data-toggle="collapse" data-target="#ecom_dr"><div class="pull-left"><i class="zmdi zmdi-shopping-basket mr-20"></i><span class="right-nav-text">Personellerimiz</span></div><div class="pull-right"><span class="label label-success"></span></div><div class="clearfix"></div></a>
					<br />
				</li>

				<li>
					<a href="/BookingAdmin/Index/" data-toggle="collapse" data-target="#app_dr"><div class="pull-left"><i class="zmdi zmdi-apps mr-20"></i><span class="right-nav-text">Rezervasyon</span></div><div class="pull-right"><i class="label label-success"></i></div><div class="clearfix"></div></a>
					<br />
				</li>

				<li>
					<a href="/Guest/Index/"><div class="pull-left"><i class="zmdi zmdi-flag mr-20"></i><span class="right-nav-text">Konuklarımız</span></div><div class="pull-right"><span class="label label-warning"></span></div><div class="clearfix"></div></a>
					<br />
				</li>


				<li>
					<a href="/AdminRoom/Index/" data-toggle="collapse" data-target="#ui_dr"><div class="pull-left"><i class="zmdi zmdi-smartphone-setup mr-20"></i><span class="right-nav-text">Oda Bilgileri</span></div><div class="pull-right"><i class="label label-success"></i></div><div class="clearfix"></div></a>
					<br />

				</li>

				<li>
					<a href="/AdminService/Index/" data-toggle="collapse" data-target="#form_dr"><div class="pull-left"><i class="zmdi zmdi-edit mr-20"></i><span class="right-nav-text">Servis</span></div><div class="pull-right"><i class="label label-success"></i></div><div class="clearfix"></div></a>

					<br />
				</li>
				<li>
					<a href="/Login/LogOut/" data-toggle="collapse" data-target="#chart_dr"><div class="pull-left"><i class="zmdi zmdi-chart-donut mr-20"></i><span class="right-nav-text">Çıkış Yap </span></div><div class="pull-right"><i class="label label-success"></i></div><div class="clearfix"></div></a>

					<br />
				</li>



			</ul>
		</div>
		<!-- /Left Sidebar Menu -->
		<!-- Right Sidebar Menu -->
		<!-- /Right Sidebar Menu -->
		<!-- Right Sidebar Backdrop -->
		<div class="right-sidebar-backdrop"></div>
		<!-- /Right Sidebar Backdrop -->
		<!-- Main Content -->
		<div class="page-wrapper">
			<div class="container-fluid pt-25">
				@RenderBody()
			</div>

			<!-- Footer -->
			<!-- /Footer -->

		</div>
		<!-- /Main Content -->

	</div>
	<!-- /#wrapper -->
	<!-- JavaScript -->
	<!-- jQuery -->
	<script src="~/fixed-width-light/vendors/bower_components/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="~/fixed-width-light/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Data table JavaScript -->
	<script src="~/fixed-width-light/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	t
	<!-- Slimscroll JavaScript -->
	<script src="~/fixed-width-light/dist/js/jquery.slimscroll.js"></script>

	<!-- simpleWeather JavaScript -->
	<script src="~/fixed-width-light/vendors/bower_components/moment/min/moment.min.js"></script>
	<script src="~/fixed-width-light/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
	<script src="~/fixed-width-light/dist/js/simpleweather-data.js"></script>

	<!-- Progressbar Animation JavaScript -->
	<script src="~/fixed-width-light/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
	<script src="vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>

	<!-- Fancy Dropdown JS -->
	<script src="~/fixed-width-light/dist/js/dropdown-bootstrap-extended.js"></script>

	<!-- Sparkline JavaScript -->
	<script src="~/fixed-width-light/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>

	<!-- Owl JavaScript -->
	<script src="~/fixed-width-light/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

	<!-- ChartJS JavaScript -->
	<script src="~/fixed-width-light/vendors/chart.js/Chart.min.js"></script>

	<!-- Morris Charts JavaScript -->
	<script src="~/fixed-width-light/vendors/bower_components/raphael/raphael.min.js"></script>
	<script src="~/fixed-width-light/vendors/bower_components/morris.js/morris.min.js"></script>
	<script src="~/fixed-width-light/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

	<!-- Switchery JavaScript -->
	<script src="~/fixed-width-light/vendors/bower_components/switchery/dist/switchery.min.js"></script>

	<!-- Init JavaScript -->
	<script src="~/fixed-width-light/dist/js/init.js"></script>
	<script src="~/fixed-width-light/dist/js/dashboard-data.js"></script>
</body>

</html>