@model HotelProject.Entitylayer.Concrete.Contact

<section class="contact padding-top padding-bottom">
    <div class="container">
        <div class="contact__wrapper">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="contact__info">
                        <div class="common-header">
                            <p class="subtitle">The Tavern Hotel</p>
                            <h2>Know more about <br> our hotel</h2>
                        </div>
                        <p>
                            Continually productize compelling quality for packed in business consulting elated
                            productize compelling quality for all packed in with all growth from quality elated
                            Setting up to website and creating pages.
                        </p>
                        <ul class="contact__info-list">
                            <li class="contact__info-item">
                                <div class="contact__info-icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="contact__info-content">
                                    <h6>Office Address</h6>
                                    <p>
                                        @ViewBag.ContactTitle

                                    </p>
                                </div>
                            </li>
                            <li class="contact__info-item">
                                <div class="contact__info-icon">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="contact__info-content">
                                    <h6>Phone Number</h6>
                                    <p>
                                        +8801278178193, 01009-814600 <br>
                                        02-960030
                                    </p>
                                </div>
                            </li>
                            <li class="contact__info-item">
                                <div class="contact__info-icon">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <div class="contact__info-content">
                                    <h6>Office Address</h6>
                                    <p>
                                        <a href="mailto:support@tavern.com">support@tavern.com</a> <br>
                                        <a href="mailto:info@tavern.com">info@tavern.com</a>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact__form">
                        <h4>Send us a message</h4>
                        <form method="post" asp-action="AddContact" asp-controller="Contact">
                            <div class="row g-4">
                                <div class="col-md-6">
                                    <div class="booking__form-inputgroup">
                                        <div class="booking__form-input">
                                            <input type="text" class="form-control" placeholder="Adınız" asp-for="Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="booking__form-inputgroup">
                                        <div class="booking__form-input">
                                            <input type="email" class="form-control" placeholder="Mail adresiniz" asp-for="ContactEmail">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="booking__form-inputgroup">
                                        <div class="booking__form-input">
                                            <input type="text" class="form-control" placeholder="konu" asp-for="ContactTitle">
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-12">
                                    <div class="booking__form-inputgroup">
                                        <div class="booking__form-input">
                                            <textarea class="form-control textarea" placeholder="Mesajınız..." asp-for="ContactDescription"> </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="custom-btn mt-40"><span>Submit Now</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>