@model HotelProject.Entitylayer.Concrete.Contact

<section class="contact padding-top padding-bottom">
    <div class="container">
        <div class="contact__wrapper">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="contact__info">
                        <div class="common-header">
                            <p class="subtitle">Özüm Otel</p>
                            <h2>Bize Ulaşın</h2>
                        </div>
                        <ul class="contact__info-list">
                            <li class="contact__info-item">
                                <div class="contact__info-icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="contact__info-content">
                                    <h6>Addres</h6>
                                    <p>
                                        İsali - Gaferli - Avcılar Mah. Bilal Eroğlu Cad. Apt. No: 52 GÖREME / NEVŞEHİR

                                    </p>
                                </div>
                            </li>
                            <li class="contact__info-item">
                                <div class="contact__info-icon">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="contact__info-content">
                                    <h6>Telefon Numarası</h6>
                                    <p>
                                        +90 384 271 26 63
                                    </p>
                                </div>
                            </li>
                            <li class="contact__info-item">
                                <div class="contact__info-icon">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <div class="contact__info-content">
                                    <h6>Mail</h6>
                                    <p>
                                      
                                        <a href="mailto:info@tavern.com">info@sobekstonehouse.com</a>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact__form">
                        <h4>Bize Mesaj Atın</h4>
                        <form method="post" asp-action="AddContact" asp-controller="Contact">
                            <div class="row g-4">
                                <div class="col-md-6">
                                    <div class="booking__form-inputgroup">
                                        <div class="booking__form-input">
                                            <input type="text" class="form-control" placeholder="Adınız" asp-for="Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="booking__form-inputgroup">
                                        <div class="booking__form-input">
                                            <input type="email" class="form-control" placeholder="Mail adresiniz" asp-for="ContactEmail">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="booking__form-inputgroup">
                                        <div class="booking__form-input">
                                            <input type="text" class="form-control" placeholder="Konu" asp-for="ContactTitle">
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-12">
                                    <div class="booking__form-inputgroup">
                                        <div class="booking__form-input">
                                            <textarea class="form-control textarea" placeholder="Mesajınız..." asp-for="ContactDescription"> </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="custom-btn mt-40"><span>Mesajı Gönder</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>