
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tavern- Resort and Hotel Booking HTMl Template</title>

    <link rel="shortcut icon" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/aos.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/all.min.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/lightcase.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/flatpickr.min.css">

    <!-- main css for template -->
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/style.css">
</head>

<body>

    <!-- ===============>> Preloader start here <<================= -->
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <!-- ===============>> Preloader end here <<================= -->
    <!-- ========== Header Section Starts Here========== -->
    @await Component.InvokeAsync("_NavbarPartial")
    <!-- ========== Header Section Ends Here========== -->
    <!-- ================> Page header start here <================== -->
    <section class="page-header bg--cover" style="background-image: url(~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/header/bg.jpg);">
        <div class="container">
            <div class="page-header__content text-center">
                <h2>Contact Us</h2>
                <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <!-- ================> Page header end here <================== -->
    <!-- ========== contact Section start Here========== -->
    <section class="contact padding-top padding-bottom">
        <div class="container">
            <div class="contact__wrapper">
                <div class="row g-5">
                    <div class="col-lg-6">
                        <div class="contact__info">
                            <div class="common-header">
                                <p class="subtitle">The Tavern Hotel</p>
                                <h2>Know more about <br> our hotel</h2>
                            </div>
                            <p>
                                Continually productize compelling quality for packed in business consulting elated
                                productize compelling quality for all packed in with all growth from quality elated
                                Setting up to website and creating pages.
                            </p>
                            <ul class="contact__info-list">
                                <li class="contact__info-item">
                                    <div class="contact__info-icon">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="contact__info-content">
                                        <h6>Office Address</h6>
                                        <p>
                                            Suite 1307, Level 12, Tropical Center 218 <br>
                                            New Elephant Road, Dhaka - 1205
                                        </p>
                                    </div>
                                </li>
                                <li class="contact__info-item">
                                    <div class="contact__info-icon">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                    <div class="contact__info-content">
                                        <h6>Phone Number</h6>
                                        <p>
                                            +8801278178193, 01009-814600 <br>
                                            02-960030
                                        </p>
                                    </div>
                                </li>
                                <li class="contact__info-item">
                                    <div class="contact__info-icon">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                    <div class="contact__info-content">
                                        <h6>Office Address</h6>
                                        <p>
                                            <a href="mailto:support@tavern.com">support@tavern.com</a> <br>
                                            <a href="mailto:info@tavern.com">info@tavern.com</a>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact__form">
                            <h4>Send us a message</h4>
                            <form action="#">
                                <div class="row g-4">
                                    <div class="col-md-6">
                                        <div class="booking__form-inputgroup">
                                            <div class="booking__form-input">
                                                <input type="text" class="form-control" placeholder="Your Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="booking__form-inputgroup">
                                            <div class="booking__form-input">
                                                <input type="email" class="form-control" placeholder="Your Email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="booking__form-inputgroup">
                                            <div class="booking__form-input">
                                                <input type="text" class="form-control" placeholder="Subject">
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-12">
                                        <div class="booking__form-inputgroup">
                                            <div class="booking__form-input">
                                                <textarea class="form-control textarea" placeholder="Your Message..."> </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="custom-btn mt-40"><span>Submit Now</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========== contact Section ends Here========== -->
    <!-- ========== Map Section start Here========== -->
    <div class="map paddding-top padding-bottom">
        <div class="container">
            <div class="map__wrapper">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d72786.95261279827!2d24.6004849!3d55.2428558!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e797094f7b1aad%3A0x400d18c70e9dc00!2sUkmerg%C4%97%2C%20Ukmerg%C4%97%20District%20Municipality%2C%20Lithuania!5e0!3m2!1sen!2sbd!4v1685078327628!5m2!1sen!2sbd"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <!-- ========== Map Section ends Here========== -->
    <!-- ========== Footer Section start Here========== -->
    <footer class="footer">

        <!-- Footer Newsletter -->
        <div class="newsletter newsletter--lowerd">
            <div class="container">
                <div class="newsletter__wrapper">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="newsletter__content text-center">
                                <div class="common-header">
                                    <p class="subtitle">Get Update</p>
                                    <h2>
                                        Get Latest Updates and Deals
                                    </h2>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter Your mail"
                                           aria-label="Subscirbe to Newsletter" aria-describedby="newsletter-input">
                                    <button class="subscribe-btn" id="newsletter-input">Subscribe</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Main footer part -->
        <div class="footer__wrapper padding-top padding-top--2x padding-bottom">
            <div class="container">
                <div class="row g-5">

                    <!-- footer about -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer__about">
                            <a class="footer__brand" href="index.html"><img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/logo/logo.png" alt="Tavern logo"></a>
                            <p>
                                Continually productize with compeling dome packed with all elated in utilize website and creating
                                supply
                            </p>
                            <div class="social__block">
                                <h6>Follow Us:</h6>
                                <ul class="social">
                                    <li class="social__item">
                                        <a href="#" class="social__link"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="social__item">
                                        <a href="#" class="social__link"><i class="fab fa-discord"></i></a>
                                    </li>
                                    <li class="social__item">
                                        <a href="#" class="social__link"><i class="fab fa-twitch"></i></a>
                                    </li>
                                    <li class="social__item">
                                        <a href="#" class="social__link"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- useful links -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer__block">
                            <div class="footer__block-title">
                                <h3>Useful Links</h3>
                            </div>
                            <div class="footer__block-body">
                                <ul class="footer__links">
                                    <li class="footer__links-item">
                                        <a class="footer__link" href="#">
                                            <span>
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </span> Room
                                            and
                                            Suits
                                        </a>
                                    </li>
                                    <li class="footer__links-item">
                                        <a class="footer__link" href="#">
                                            <span>
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </span>Resturant
                                        </a>
                                    </li>
                                    <li class="footer__links-item">
                                        <a class="footer__link" href="#">
                                            <span>
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </span>
                                            Spa Center
                                        </a>
                                    </li>
                                    <li class="footer__links-item">
                                        <a class="footer__link" href="#">
                                            <span>
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </span>
                                            Swimming
                                        </a>
                                    </li>
                                    <li class="footer__links-item">
                                        <a class="footer__link" href="#">
                                            <span>
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </span>
                                            Contact Us
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Contact infos -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer__block">
                            <div class="footer__block-title">
                                <h3>Contact info</h3>
                            </div>
                            <div class="footer__block-body">
                                <ul class="footer__info">
                                    <li class="footer__info-item">
                                        <span><i class="fa-solid fa-phone"></i></span>
                                        <p>
                                            88130-589-745-6987
                                            +1655-456-523
                                        </p>
                                    </li>
                                    <li class="footer__info-item">
                                        <span><i class="fa-solid fa-clock"></i></span>
                                        <p>
                                            Mon-Fri 09:00-18:00 (except public holidays)
                                        </p>
                                    </li>
                                    <li class="footer__info-item">
                                        <span><i class="fa-solid fa-location-dot"></i></span>
                                        <p>
                                            25/2 Vokte Street Building
                                            Melborn City
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Gallery -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer__block">
                            <div class="footer__block-title">
                                <h3>Gallery</h3>
                            </div>
                            <div class="footer__block-body">
                                <ul class="footer__gallery">
                                    <li class="footer__gallery-item">
                                        <a href="#">
                                            <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/gallery/01.png"
                                                 alt="gallery image">
                                        </a>
                                    </li>
                                    <li class="footer__gallery-item">
                                        <a href="#">
                                            <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/gallery/02.png"
                                                 alt="gallery image">
                                        </a>
                                    </li>
                                    <li class="footer__gallery-item">
                                        <a href="#">
                                            <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/gallery/03.png"
                                                 alt="gallery image">
                                        </a>
                                    </li>
                                    <li class="footer__gallery-item">
                                        <a href="#">
                                            <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/gallery/04.png"
                                                 alt="gallery image">
                                        </a>
                                    </li>
                                    <li class="footer__gallery-item">
                                        <a href="#">
                                            <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/gallery/05.png"
                                                 alt="gallery image">
                                        </a>
                                    </li>
                                    <li class="footer__gallery-item">
                                        <a href="#">
                                            <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/gallery/06.png"
                                                 alt="gallery image">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer copyright part -->
        <div class="footer__copyright py-30">
            <div class="container">
                <p class="text-center mb-0">© Copyright 2023. All Rights Reserved by LabArtisan</p>
            </div>
        </div>
    </footer>
    <!-- ========== Footer Section ends Here========== -->
    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="fa-solid fa-arrow-up"></i></a>
    <!-- scrollToTop ending here -->
    <!-- vendor plugins -->
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/flatpickr.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/all.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/swiper-bundle.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/aos.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/countdown.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/lightcase.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/purecounter_vanilla.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/kursor.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/progressbar.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/custom.js"></script>
</body>

</html>