<div class="footer__wrapper padding-top padding-top--2x padding-bottom">
    <div class="container">
        <div class="row g-5">

            <!-- footer about -->
            <div class="col-lg-3 col-sm-6">
                <div class="footer__about">
                    <a class="footer__brand" href="index.html"><img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/logo/logo.png" alt="Tavern logo"></a>
                    <p>
                        Continually productize with compeling dome packed with all elated in utilize website and creating
                        supply
                    </p>
                    <div class="social__block">
                        <h6>Follow Us:</h6>
                        <ul class="social">
                            <li class="social__item">
                                <a href="#" class="social__link"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link"><i class="fab fa-discord"></i></a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link"><i class="fab fa-twitch"></i></a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- useful links -->
            <div class="col-lg-3 col-sm-6">
                <div class="footer__block">
                    <div class="footer__block-title">
                        <h3>Useful Links</h3>
                    </div>
                    <div class="footer__block-body">
                        <ul class="footer__links">
                            <li class="footer__links-item">
                                <a class="footer__link" href="#">
                                    <span>
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </span> Room
                                    and
                                    Suits
                                </a>
                            </li>
                            <li class="footer__links-item">
                                <a class="footer__link" href="#">
                                    <span>
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </span>Resturant
                                </a>
                            </li>
                            <li class="footer__links-item">
                                <a class="footer__link" href="#">
                                    <span>
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </span>
                                    Spa Center
                                </a>
                            </li>
                            <li class="footer__links-item">
                                <a class="footer__link" href="#">
                                    <span>
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </span>
                                    Swimming
                                </a>
                            </li>
                            <li class="footer__links-item">
                                <a class="footer__link" href="#">
                                    <span>
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </span>
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Contact infos -->
            <div class="col-lg-3 col-sm-6">
                <div class="footer__block">
                    <div class="footer__block-title">
                        <h3>Contact info</h3>
                    </div>
                    <div class="footer__block-body">
                        <ul class="footer__info">
                            <li class="footer__info-item">
                                <span><i class="fa-solid fa-phone"></i></span>
                                <p>
                                    88130-589-745-6987
                                    +1655-456-523
                                </p>
                            </li>
                            <li class="footer__info-item">
                                <span><i class="fa-solid fa-clock"></i></span>
                                <p>
                                    Mon-Fri 09:00-18:00 (except public holidays)
                                </p>
                            </li>
                            <li class="footer__info-item">
                                <span><i class="fa-solid fa-location-dot"></i></span>
                                <p>
                                    25/2 Vokte Street Building
                                    Melborn City
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>