
@{
    Layout = null;
}
<section class="history padding-top ">
    <div class="container">
        <div class="section-header" data-aos="fade-up" data-aos-duration="1000">
            <div class="section-header__content">
                <h2>Otelimizin Tarihi</h2>
                <p>
                    Continually productize compelling quality for packed in business consulting elated
                    Setting up to website and creating pages.
                </p>
            </div>
        </div>
        <div class="history__wrapper">
            <div class="history__tab" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">

                <!-- tab button -->
              @*  <div class="history__tab-nav nav nav-pills mb-30" id="history-tab" role="tablist">
                    <button class="history__tab-btn" id="history1-tab" data-bs-toggle="pill" data-bs-target="#history1"
                            type="button" role="tab" aria-controls="history1" aria-selected="true">
                        1989
                    </button>
                    <button class="history__tab-btn" id="history2-tab" data-bs-toggle="pill" data-bs-target="#history2"
                            type="button" role="tab" aria-controls="history2" aria-selected="false">
                        2001
                    </button>
                    <button class="history__tab-btn" id="history3-tab" data-bs-toggle="pill" data-bs-target="#history3"
                            type="button" role="tab" aria-controls="history3" aria-selected="false">
                        2008
                    </button>
                    <button class="history__tab-btn active" id="history4-tab" data-bs-toggle="pill" data-bs-target="#history4"
                            type="button" role="tab" aria-controls="history4" aria-selected="true">
                        2015
                    </button>
                    <button class="history__tab-btn" id="history5-tab" data-bs-toggle="pill" data-bs-target="#history5"
                            type="button" role="tab" aria-controls="history5" aria-selected="false">
                        2020
                    </button>
                    <button class="history__tab-btn" id="history6-tab" data-bs-toggle="pill" data-bs-target="#history6"
                            type="button" role="tab" aria-controls="history6" aria-selected="false">
                        2023
                    </button>
                </div>*@


                <!-- tab content -->
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade" id="history1" role="tabpanel" aria-labelledby="history1-tab" tabindex="0">

                        <div class="history__tab-details">
                            <!-- history content -->
                            <div class="history__tab-content">
                                <h3>The Hotel Chain Is Part Of The American Hotel Association.</h3>
                                <p>
                                    Continually productize compelling quality for packed in business consulting elated
                                    productize compelling quality for all packed in with all growth from quality elated
                                    Setting up to website and creating pages.
                                </p>
                                <p>
                                    Through our cognition-based coachin Packed and consulting approach we creative facilitate your
                                    business growth from
                                    small to midsze from mid size to global Packet business or from crisis to success.
                                </p>
                                <p>
                                    Continually productize compelling quality for packed int business consulting elated
                                    productize compelling quality for all packed in with all growth from quality edlated
                                    Setting up to website and creating pages.
                                    Having reached adulthood, is Donovan of began to travel and knew the attraction to new countries
                                    and new of
                                    acquaintances was then that the dream arose to build his own hotel.
                                </p>
                            </div>
                            <!-- history image -->
                            <div class="history__tab-image">
                                <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/history/1.png" alt="history image">
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="history2" role="tabpanel" aria-labelledby="history2-tab" tabindex="0">
                        <div class="history__tab-details">
                            <!-- history content -->
                            <div class="history__tab-content">
                                <h3>The Hotel Chain Is Part Of The American Hotel Association.</h3>
                                <p>
                                    Continually productize compelling quality for packed in business consulting elated
                                    productize compelling quality for all packed in with all growth from quality elated
                                    Setting up to website and creating pages.
                                </p>
                                <p>
                                    Through our cognition-based coachin Packed and consulting approach we creative facilitate your
                                    business growth from
                                    small to midsze from mid size to global Packet business or from crisis to success.
                                </p>
                                <p>
                                    Continually productize compelling quality for packed int business consulting elated
                                    productize compelling quality for all packed in with all growth from quality edlated
                                    Setting up to website and creating pages.
                                    Having reached adulthood, is Donovan of began to travel and knew the attraction to new countries
                                    and new of
                                    acquaintances was then that the dream arose to build his own hotel.
                                </p>
                            </div>
                            <!-- history image -->
                            <div class="history__tab-image">
                                <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/history/1.png" alt="history image">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="history3" role="tabpanel" aria-labelledby="history3-tab" tabindex="0">
                        <div class="history__tab-details">
                            <!-- history content -->
                            <div class="history__tab-content">
                                <h3>The Hotel Chain Is Part Of The American Hotel Association.</h3>
                                <p>
                                    Continually productize compelling quality for packed in business consulting elated
                                    productize compelling quality for all packed in with all growth from quality elated
                                    Setting up to website and creating pages.
                                </p>
                                <p>
                                    Through our cognition-based coachin Packed and consulting approach we creative facilitate your
                                    business growth from
                                    small to midsze from mid size to global Packet business or from crisis to success.
                                </p>
                                <p>
                                    Continually productize compelling quality for packed int business consulting elated
                                    productize compelling quality for all packed in with all growth from quality edlated
                                    Setting up to website and creating pages.
                                    Having reached adulthood, is Donovan of began to travel and knew the attraction to new countries
                                    and new of
                                    acquaintances was then that the dream arose to build his own hotel.
                                </p>
                            </div>
                            <!-- history image -->
                            <div class="history__tab-image">
                                <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/history/1.png" alt="history image">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="history4" role="tabpanel" aria-labelledby="history4-tab"
                         tabindex="0">
                        <div class="history__tab-details">
                            <!-- history content -->
                            <div class="history__tab-content">
                                <h3>The Hotel Chain Is Part Of The American Hotel Association.</h3>
                                <p>
                                    Continually productize compelling quality for packed in business consulting elated
                                    productize compelling quality for all packed in with all growth from quality elated
                                    Setting up to website and creating pages.
                                </p>
                                <p>
                                    Through our cognition-based coachin Packed and consulting approach we creative facilitate your
                                    business growth from
                                    small to midsze from mid size to global Packet business or from crisis to success.
                                </p>
                                <p>
                                    Continually productize compelling quality for packed int business consulting elated
                                    productize compelling quality for all packed in with all growth from quality edlated
                                    Setting up to website and creating pages.
                                    Having reached adulthood, is Donovan of began to travel and knew the attraction to new countries
                                    and new of
                                    acquaintances was then that the dream arose to build his own hotel.
                                </p>
                            </div>
                            <!-- history image -->
                            <div class="history__tab-image">
                                <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/history/1.png" alt="history image">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="history5" role="tabpanel" aria-labelledby="history5-tab" tabindex="0">
                        <div class="history__tab-details">
                            <!-- history content -->
                            <div class="history__tab-content">
                                <h3>The Hotel Chain Is Part Of The American Hotel Association.</h3>
                                <p>
                                    Continually productize compelling quality for packed in business consulting elated
                                    productize compelling quality for all packed in with all growth from quality elated
                                    Setting up to website and creating pages.
                                </p>
                                <p>
                                    Through our cognition-based coachin Packed and consulting approach we creative facilitate your
                                    business growth from
                                    small to midsze from mid size to global Packet business or from crisis to success.
                                </p>
                                <p>
                                    Continually productize compelling quality for packed int business consulting elated
                                    productize compelling quality for all packed in with all growth from quality edlated
                                    Setting up to website and creating pages.
                                    Having reached adulthood, is Donovan of began to travel and knew the attraction to new countries
                                    and new of
                                    acquaintances was then that the dream arose to build his own hotel.
                                </p>
                            </div>
                            <!-- history image -->
                            <div class="history__tab-image">
                                <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/history/1.png" alt="history image">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="history6" role="tabpanel" aria-labelledby="history6-tab" tabindex="0">
                        <div class="history__tab-details">
                            <!-- history content -->
                            <div class="history__tab-content">
                                <h3>The Hotel Chain Is Part Of The American Hotel Association.</h3>
                                <p>
                                    Continually productize compelling quality for packed in business consulting elated
                                    productize compelling quality for all packed in with all growth from quality elated
                                    Setting up to website and creating pages.
                                </p>
                                <p>
                                    Through our cognition-based coachin Packed and consulting approach we creative facilitate your
                                    business growth from
                                    small to midsze from mid size to global Packet business or from crisis to success.
                                </p>
                                <p>
                                    Continually productize compelling quality for packed int business consulting elated
                                    productize compelling quality for all packed in with all growth from quality edlated
                                    Setting up to website and creating pages.
                                    Having reached adulthood, is Donovan of began to travel and knew the attraction to new countries
                                    and new of
                                    acquaintances was then that the dream arose to build his own hotel.
                                </p>
                            </div>
                            <!-- history image -->
                            <div class="history__tab-image">
                                <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/history/1.png" alt="history image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>