@model HotelProject.Entitylayer.Concrete.Room
@{
    ViewData["Title"] = "UpdateRoom";
    Layout = "~/Views/Shared/_Admin1Layout.cshtml";
}


<form method="post" asp-action="UpdateRoom" asp-controller="AdminRoom">
    <input type="hidden" asp-for="RoomId" />
    <label>Oda Numarası</label>
    <input type="text" asp-for="RoomNumber" class="form-control" />
    <br />
    <label>Oda Başlığı</label>
    <input type="text" asp-for="RoomTitle" class="form-control" />
    <br />
    <label>İçerik</label>
    <input type="text" asp-for="RoomDescription" class="form-control" />
    <br />
    <label>tipi</label>
    <input type="text" asp-for="RoomType" class="form-control" />
    <br>
    <label>Kahvaltı</label>
    <input type="text" asp-for="Breakfeast" class="form-control" />
    <br />
    <label>WiFi</label>
    <input type="text" asp-for="FreeWifi" class="form-control" />
    <br />
    <label>M2</label>
    <input type="text" asp-for="RoomSqm" class="form-control" />
    <br />
    <label>Kişi Sayısı</label>
    <input type="text" asp-for="PersonCount" class="form-control" />
    <br />
    <button class="btn btn-primary" type="submit"> Oda Ekle </button>
</form>
