@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tavern- Resort and Hotel Booking HTMl Template</title>

  <link rel="shortcut icon" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/favicon.png" type="image/x-icon">

  <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/aos.css">
  <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/all.min.css">
  <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/lightcase.css">
  <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/flatpickr.min.css">

  <!-- main css for template -->
  <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/style.css">
</head>

<body>

  <!-- ===============>> Preloader start here <<================= -->
  <div class="preloader">
    <div class="loader"></div>
  </div>
  <!-- ===============>> Preloader end here <<================= -->



  <!-- ========== Header Section Starts Here========== -->
    @await Component.InvokeAsync("_NavbarPartial")
  <!-- ========== Header Section Ends Here========== -->




  <!-- ================> Page header start here <================== -->
  <section class="page-header bg--cover" style="background-image: url(~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/header/bg.jpg);">
    <div class="container">
      <div class="page-header__content text-center">
        <h2>About Us</h2>
        <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About us</li>
          </ol>
        </nav>
      </div>
    </div>
  </section>
  <!-- ================> Page header end here <================== -->





  <!-- ========== About Section start Here========== -->
     @* @await Component.InvokeAsync("_AboutSection");*@
  <!-- ========== About Section ends Here========== -->





  <!-- ========== Feature Section start Here========== -->
  <section class="feature padding-top padding-bottom bg--section-color">
    <div class="container">
      <div class="section-header" data-aos="fade-up" data-aos-duration="1000">
        <div class="section-header__content">
          <h2>Tavern Hotel Your Excellent Choice For Vacation.</h2>
          <p>Continually productize compelling quality for packed in business consulting elated
            Setting up to website and creating pages.
          </p>
        </div>
      </div>
      <div class="feature__wrapper">
        <div class="row g-4">
          <div class="col-xl-3 col-md-6">
            <div class="feature__item" data-aos="fade-up" data-aos-duration="1000">
              <div class="feature__item-inner">
                <div class="feature__item-thumb">
                  <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/feature/icons/1.png" alt="feature icon">
                </div>
                <div class="feature__item-content">
                  <h3>Customer Support</h3>
                  <p>24 Hours Support</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="feature__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
              <div class="feature__item-inner">
                <div class="feature__item-thumb">
                  <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/feature/icons/2.png" alt="feature icon">
                </div>
                <div class="feature__item-content">
                  <h3>Family Size Room</h3>
                  <p>Available Room</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="feature__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
              <div class="feature__item-inner">
                <div class="feature__item-thumb">
                  <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/feature/icons/3.png" alt="feature icon">
                </div>
                <div class="feature__item-content">
                  <h3>Conference Room</h3>
                  <p>Conference Room Available</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="feature__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
              <div class="feature__item-inner">
                <div class="feature__item-thumb">
                  <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/feature/icons/4.png" alt="feature icon">
                </div>
                <div class="feature__item-content">
                  <h3>Free Wifi Corner</h3>
                  <p>Free Wifi</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========== Feature Section Ends Here========== -->






  <!-- ========== History Section start Here========== -->
 
  <!-- ========== History Section ends Here========== -->





  <!-- ========== Popular Room Section start Here========== -->
  <section class="room room--popular padding-top padding-bottom">
    <div class="container">
      <div class="section-header" data-aos="fade-up" data-aos-duration="1000">
        <div class="section-header__content">
          <h2>Tavern Hotel Popular Rooms & Suites.</h2>
          <p>Continually productize compelling quality for packed in business consulting elated
            Setting up to website and creating pages.
          </p>
        </div>
      </div>
      <div class="room__wrapper" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
        <div class="row g-4">
          <div class="col-lg-4 col-md-6 order-md-3 order-lg-1">
            <div class="room__item room__item--style2">
              <div class="room__item-inner">
                <div class="room__item-thumb">
                  <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/room/home1/1.png" alt="room image">
                </div>
                <div class="room__item-content">
                  <div class="room__item-header">
                    <div class="room__item-name">
                      <ul class="rating">
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                      </ul>
                      <h3><a href="room-details.html">Family Room</a></h3>
                      <a href="#" class="custom-btn custom-btn--bordered"><span>Booking Now</span></a>
                    </div>

                    <div class="room__item-price">
                      <h3>$220</h3>
                      <p>Per Night</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-8 order-md-2">
            <div class="room__item room__item--style2">
              <div class="room__item-inner">
                <div class="room__item-thumb">
                  <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/room/home1/lg1.png" alt="room image">
                </div>
                <div class="room__item-content">
                  <div class="room__item-header">
                    <div class="room__item-name">
                      <ul class="rating">
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                      </ul>
                      <h3><a href="room-details.html">Delux Room</a></h3>
                      <a href="#" class="custom-btn custom-btn--bordered"><span>Booking Now</span></a>
                    </div>

                    <div class="room__item-price">
                      <h3>$320</h3>
                      <p>Per Night</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-8 order-md-4">
            <div class="room__item room__item--style2">
              <div class="room__item-inner">
                <div class="room__item-thumb">
                  <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/room/home1/lg2.png" alt="room image">
                </div>
                <div class="room__item-content">
                  <div class="room__item-header">
                    <div class="room__item-name">
                      <ul class="rating">
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                      </ul>
                      <h3><a href="room-details.html">Single Room</a></h3>
                      <a href="#" class="custom-btn custom-btn--bordered"><span>Booking Now</span></a>
                    </div>

                    <div class="room__item-price">
                      <h3>$200</h3>
                      <p>Per Night</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 order-md-3 order-lg-4">
            <div class="room__item room__item--style2">
              <div class="room__item-inner">
                <div class="room__item-thumb">
                  <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/room/home1/4.png" alt="room image">
                </div>
                <div class="room__item-content">
                  <div class="room__item-header">
                    <div class="room__item-name">
                      <ul class="rating">
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                        <li class="rating__star"><i class="fa-solid fa-star"></i></li>
                      </ul>
                      <h3><a href="room-details.html">Couple Room</a></h3>
                      <a href="#" class="custom-btn custom-btn--bordered"><span>Booking Now</span></a>
                    </div>

                    <div class="room__item-price">
                      <h3>$350</h3>
                      <p>Per Night</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ========== Popular Room Section ends Here========== -->





  <!-- ========== Testimonial Section start Here========== -->
 
  <!-- ========== Testimonial Section ends Here========== -->





  <!-- ========== Sponsor Section ends Here========== -->

  <!-- ========== Sponsor Section ends Here========== -->





  <!-- ========== Blog Section start Here========== -->
 
  <!-- ========== Blog Section ends Here========== -->





  <!-- ========== Footer Section start Here========== -->
    @await Component.InvokeAsync("_FooterSection");
  <!-- ========== Footer Section ends Here========== -->


  <!-- scrollToTop start here -->
  <a href="#" class="scrollToTop"><i class="fa-solid fa-arrow-up"></i></a>
  <!-- scrollToTop ending here -->

  <!-- vendor plugins -->
  <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/jquery-3.6.0.min.js"></script>
  <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/bootstrap.bundle.min.js"></script>
  <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/imagesloaded.pkgd.min.js"></script>
  <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/isotope.pkgd.min.js"></script>
  <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/flatpickr.js"></script>
  <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/all.min.js"></script>
  <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/swiper-bundle.min.js"></script>
  <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/aos.js"></script>
  <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/jquery.nice-select.min.js"></script>
  <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/countdown.min.js"></script>
  <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/lightcase.js"></script>
  <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/purecounter_vanilla.js"></script>
  <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/kursor.min.js"></script>
  <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/progressbar.min.js"></script>
  <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/custom.js"></script>
</body>

</html>