
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tavern- Resort and Hotel Booking HTMl Template</title>

    <link rel="shortcut icon" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/aos.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/all.min.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/lightcase.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/flatpickr.min.css">

    <!-- main css for template -->
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/style.css">
</head>

<body>

    <!-- ===============>> Preloader start here <<================= -->
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <!-- ===============>> Preloader end here <<================= -->
    <!-- ========== Header Section Starts Here========== -->
    @await Component.InvokeAsync("_NavbarPartial")
    <!-- ========== Header Section Ends Here========== -->
    <!-- ================> Page header start here <================== -->
    <section class="page-header bg--cover" style="background-image: url(~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/header/bg.jpg);">
        <div class="container">
            <div class="page-header__content text-center">
                <h2>Room lisiting 2</h2>
                <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Room listing 2</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <!-- ================> Page header end here <================== -->
    <!-- ========== Booking Form Section start Here========== -->
    <div class="booking booking--uplifted-sm">
        <div class="container">
            <div class="booking__wrapper p-3 booking__wrapper--has-shadow">
                <div class="row">
                    <div class="col-12">
                        <form action="#" class="booking__form">
                            <div class="row justify-content-center g-4">
                                <div class="col-xxl-2 col-xl-3 col-sm-6">
                                    <div class="booking__form-inputgroup">
                                        <div class="booking__form-date">
                                            <input type="text" class="date-input form-control" placeholder="Check In">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-sm-6">
                                    <div class="booking__form-inputgroup">
                                        <div class="booking__form-date">
                                            <input type="text" class="date-input form-control" placeholder="Check Out">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-sm-6">
                                    <div class="booking__form-inputgroup">
                                        <!-- <label for="test1" class="form-label">Room</label> -->
                                        <select class="nice-selct wide form-select" aria-label="Default select example"
                                                id="booking-field-3">
                                            <option selected>Adult</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-sm-6">
                                    <div class="booking__form-inputgroup">
                                        <!-- <label for="test1" class="form-label">Check Out</label> -->
                                        <select class="nice-selct wide form-select" aria-label="Default select example"
                                                id="booking-field-4">
                                            <option selected>Children</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-sm-6">
                                    <div class="booking__form-inputgroup">
                                        <!-- <label for="test1" class="form-label">Children</label> -->
                                        <select class="nice-selct wide form-select" aria-label="Default select example"
                                                id="booking-field-5">
                                            <option selected>Room</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-sm-6">
                                    <div class="booking__form-btn">
                                        <button class="custom-btn custom-btn--fluid"><span>Book Now</span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== Booking Form Section Ends Here========== -->
    <!-- ========== Room Section start Here========== -->
    @await Component.InvokeAsync("_RoomRoomsSection")
    <!-- ========== Room Section ends Here========== -->
    <!-- ========== Footer Section start Here========== -->
    <footer class="footer">

        <!-- Footer Newsletter -->
      


        <!-- Main footer part -->
        < @await Component.InvokeAsync("_FooterSection");


        <!-- Footer copyright part -->
        <div class="footer__copyright py-30">
            <div class="container">
                <p class="text-center mb-0">© Copyright 2023. All Rights Reserved by LabArtisan</p>
            </div>
        </div>
    </footer>
    <!-- ========== Footer Section ends Here========== -->
    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="fa-solid fa-arrow-up"></i></a>
    <!-- scrollToTop ending here -->
    <!-- vendor plugins -->
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/flatpickr.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/all.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/swiper-bundle.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/aos.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/countdown.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/lightcase.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/purecounter_vanilla.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/kursor.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/progressbar.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/custom.js"></script>
</body>

</html>
