@model List<About>
@{
    Layout = null;
}


<section class="feature padding-top padding-bottom bg--section-color">
    <div class="container">
        <div class="section-header" data-aos="fade-up" data-aos-duration="1000">
            <div class="section-header__content">
                <h2>Özüm Hotel İçin Mükemmel Seçiminiz.</h2>
                <p>
                    Continually productize compelling quality for packed in business consulting elated
                    Setting up to website and creating pages.
                </p>
            </div>
        </div>
        <div class="feature__wrapper">
            <div class="row g-4">
                <div class="col-xl-3 col-md-6">
                    <div class="feature__item" data-aos="fade-up" data-aos-duration="1000">
                        <div class="feature__item-inner">
                            <div class="feature__item-thumb">
                                <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/feature/icons/1.png" alt="feature icon">
                            </div>
                            <div class="feature__item-content">
                                <h3>Customer Support</h3>
                                <p>24 Hours Support</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="feature__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="feature__item-inner">
                            <div class="feature__item-thumb">
                                <img src="assets/images/feature/icons/2.png" alt="feature icon">
                            </div>
                            <div class="feature__item-content">
                                <h3>Family Size Room</h3>
                                <p>Available Room</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="feature__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        <div class="feature__item-inner">
                            <div class="feature__item-thumb">
                                <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/feature/icons/3.png" alt="feature icon">
                            </div>
                            <div class="feature__item-content">
                                <h3>Conference Room</h3>
                                <p>Conference Room Available</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="feature__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                        <div class="feature__item-inner">
                            <div class="feature__item-thumb">
                                <img src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/feature/icons/4.png" alt="feature icon">
                            </div>
                            <div class="feature__item-content">
                                <h3>Free Wifi Corner</h3>
                                <p>Free Wifi</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
