@using HotelProject.Entitylayer.Concrete;
@model Slide

@{
    Layout = null;
}
<section class="hero">
    <div class="hero__slider swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="hero__wrapper" style="background-image:url(https://www.alegriabusinesshotel.com/img/rooms/ekonomik-4.jpg)">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="hero__content hero__content--center">
                                    <h1>
                                        Book Your Stay & Enjoy
                                        Luxury Experience
                                    </h1>
                                    <p class="text-lg">The best hotel for your family</p>
                                    <a href="#" class="custom-btn"><span>Explore Room</span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="hero__wrapper" style="background-image:url(assets/images/hero/home1/bge.jpg)">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="hero__content hero__content--center">
                                    <h1>
                                        Book Your Stay & Enjoy
                                        Luxury Experience
                                    </h1>
                                    <p class="text-lg">The best hotel for your family</p>
                                    <a href="#" class="custom-btn"><span>Explore Room</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image:url(assets/images/hero/home1/bge.jpg)">
                <div class="hero__wrapper" >
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="hero__content hero__content--center">
                                    <h1>
                                        Book Your Stay & Enjoy
                                        Luxury Experience
                                    </h1>
                                    <p class="text-lg">The best hotel for your family</p>
                                    <a href="#" class="custom-btn"><span>Explore Room</span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="hero__slider-prev"><i class="fa-solid fa-arrow-left"></i></div>
        <div class="hero__slider-next"><i class="fa-solid fa-arrow-right"></i></div>
    </div>
</section>